{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} -Reset password{% endblock %}

{% block content %}
    <!-- Page Top section Start -->
    <section class="heading bg-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="h3 d-inline-block mb-4 subhead text-uppercase">Snowboard tricks</span>
                    <h1 class="text-uppercase text-white mb-5">Sign in
                        <span class="text-color">/ snowtrick</span>
                    </h1>
                        <h4 class="text-white"><i class="fas fa-sign-in-alt"></i> Fill this form to receive your
                            password</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- Page Top section End -->
    <!-- Reset section Start -->
    <section class="contact-form section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="mb-4">
                        <div class="divider mb-3"></div>
                        <h2>Recover Password</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center pb-5">
                <div class="col-lg-4 text-center">
                    <form id="contact-form" novalidate="novalidate">
                        <div class="form-row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group-2">
                                    <input name="user_email" type="text" class="form-control"
                                           placeholder="Email Address">
                                </div>
                                <button class="btn btn-main mt-4" type="submit">Reset Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Reset section  End -->
{% endblock %}