{{ form_start(form) }}
<form action="#" class="text-left">
    <div class="form-group text-center">
        <label for="msg"></label><textarea name="msg" id="msg" cols="30" rows="6" class="form-control"
                                           placeholder="Your Comment"></textarea>
        <a href="#" class="btn btn-main mt-4">Add Comment</a>
    </div>
</form>
{{ form_widget(form) }}
{{ form_end(form) }}